@import "@/uni_modules/vk-uview-ui/theme.scss";
@mixin show_text($rows) {
  -webkit-line-clamp: $rows;
  /*! autoprefixer: off */
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

